Django==6.0.6
django-cleanup==9.0.0
django-debug-toolbar==6.3.0
Pillow==12.2.0
psycopg2==2.9.12
python-dotenv==1.2.2
pygments>=2.20.0 # To resolve security vulnerabilities in dependencies pytest, rich
