{% extends "website/main.html" %}
{% load static %}
{% block content %}
  {% if user.is_authenticated %}
    Already registered
  {% else %}
    <form method="POST" hx-post="/register" hx-headers='{"accept": "application/json"}'>
      {% if FORM.errors  %}
        <ul>
          {% for error_message in FORM.error_messages %}
            <li>{{ error_message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% csrf_token %}
      {{ FORM.as_table }}
      <button class="btn btn-primary" type="submit" id="submit_form">Register</button>
    </form>
  {% endif %}
{% endblock %}
