<html>
  <head>
    <link rel="stylesheet" href="/static/css/devfaq.css">
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <script type="application/javascript" src="/static/js/bootstrap/bootstrap.bundle.js"></script>
    <script type="application/javascript" src="/static/js/htmx.min.js"></script>
  </head>
  <body>
    {% block content %}Wow content is missing{% endblock %}

    <script type="application/javascript" src="/static/js/devfaq.js"></script>

  </body>
</html>
